<style>{% include "css/footer.css" %}</style>
<div class="footer-container">
    <div style="max-width: 250px;">
        <h1 style="color: lightgray;">CTC</h1>
        <p style="color: darkgray;">Buy and sell cryptocurrency to and from each other.</p>
        <p style="color: darkgray; font-size: 14px;">CTC is owned and operated by LoveByte Ltd located at Thermistokli Dervi, 48, 3rd Floor, Office 306, 1065, Nicosia, Cyprus</p>
        <p style="color: darkgray; font-size: 14px;">© All rights reserved 2025</p>
        <p>{{ footer.time }}</p>
    </div>

    <div class="footer-section">
        <a class="footer-link" href="/whatever">What is CTC?</a>
        <a class="footer-link" href="/whatever">Updates</a>
        <a class="footer-link" href="/whatever">Advertise</a>
        <a class="footer-link" href="/whatever">Staff</a>
        <a class="footer-link-last" href="/whatever">Contact us</a>
    </div>

    <div class="footer-section">
        <a class="footer-link" href="/whatever">Site rules</a>
        <a class="footer-link" href="/whatever">Privacy</a>
        <a class="footer-link" href="/whatever">Legal Opinion</a>
        <a class="footer-link" href="/whatever">Etiquette</a>
        <a class="footer-link-last" href="/whatever">Exchange Standards</a>
    </div>

    <div class="footer-section">
        <a class="footer-link" href="/whatever">Premium</a>
        <a class="footer-link" href="/whatever">Day mode</a>
        <a class="footer-link" href="/whatever">Canary</a>
        <a class="footer-link-last" href="https://github.com/gavrh/ctc" target="_blank">Open source</a>
    </div>
</div>
